@charset "UTF-8";
/* CSS Document */

#leftWrapper{
	float:left;
	width:400px;
	}
#rightWrapper{
	float:left;
	width:400px;
	}
ul.next{
	margin-top:25px;
	float:right;
	}
ul.next li{
	font-size:16px;
	list-style-type:none;
	float:left;
	color:#cc0000;
	}
ul.next li a{
	color:#cc0000;
	text-decoration:none;
	}
ul.next li a:hover{
	text-decoration:underline;
	}
h2.page{
	color:#cc0000;
	text-align:center;
	clear:both;
	padding-top:20px;
	}