#container{
}
#content{
 margin-left:auto;
 margin-right:auto;
 margin-top: 60px;
 border-radius: 25px;
 padding: 8px;
}
#center{
 margin-left:auto;
 margin-right:auto;
 margin-top:auto;
 margin-bottom:auto;
}