@charset "utf-8";
/* CSS Document */
.prestalove-easy-menu {
	float:left;
	width: 100%;
}
#header .prestalove-easy-menu {
	margin: 0.2% 0 0 0; 
}
.pl-easy-menu {
	float:left;
	width: 100%;
	text-align: left;
	background: #cc0000;
	/*border-radius: .8em;
	/-moz-border-radius: .8em;
	/-webkit-border-radius: .8em;*/
	-moz-box-shadow: 0 0 3px #333;
    	-webkit-box-shadow: 0 0 3px #333;
    	box-shadow: 0 0 3px #333;
}

#pl-menu-0 {
	position: relative;
}

.pl-easy-menu ul li.backLava {
	background: #cc0000;
	height: 32px;
	z-index: 8;
	width:29px;
	position: absolute;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sf-menu {
  margin:0;
}
.sf-menu li {
	z-index:10;
	background: #cc0000;
	padding: 0;
}

.sf-menu a {
  padding: 0px .839em;
  line-height: 2.6em;
  color: #eee;
  //text-shadow: -1px -1px 2px #333333;
  letter-spacing: -0.0625em;
  font-weight: bold;
  font-size: 110%;
  font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
.sf-menu a:hover,
.sf-menu a.active,
.sf-menu li.sfHover a {
	background: #fff;
	color: #cc0000;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top: 1.4em;
}
.sf-menu ul {
	background: #cc0000;
	margin: 1.4em 0;
	padding: 0;
	border-radius: 0 0 .8em .8em;
	-moz-border-radius: 0 0 .8em .8em;
	-webkit-border-radius: 0 0 .8em .8em;
	border: 1px solid #fff;
	width: 15em;
}
.sf-menu ul li {
	border-bottom: 1px solid #fff;
	background: none;
	padding: 0 0 0 .1em;
}
.sf-menu ul li.last {
	border: none;
}
.sf-menu ul a,
.sf-menu li.sfHover ul a {
  background: none;
  padding: 10px;
  text-transform: none;
  text-shadow: none;
  font-weight: normal;
  line-height: 1em;
}

.sf-menu li.sfHover ul li a.active,
.sf-menu li.sfHover ul li a:hover {
 	 background: url(img/nav-link-hover.png);
}

.sf-menu ul li ul {
	margin: 0 0 0 4.9em;
	border-radius-bottom: 0 .8em .8em .8em;
	-moz-border-radius: 0 .8em .8em .8em;
	-webkit-border-radius: 0 .8em .8em .8em;
}

/* Vertical menu */
#left_column,
#right_column {
  overflow: visible;
}
.pl-easy-menu {
	-moz-box-shadow: 0 0 2px #aaa;
    -webkit-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}
#left_column .sf-vertical ul, #right_column .sf-vertical ul {
  width: 14em;
  right: -14.2em;
}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  right: -14.2em;
  top: -1em;
}
#left_column .sf-vertical li:hover ul,
#right_column .sf-vertical li.sfHover ul {
  right: -14.2em; /* match ul width*/
  top: -1em;
}
.sf-vertical, .sf-vertical li {
  width: 100%;
}
.sf-vertical.pl-easy-menu {
  background: none;
  margin: 0 0 20px 0;
}
.sf-vertical.pl-easy-menu li {
  background: #D0D3D8;
  border-bottom: 1px solid #fff;
  padding: 0;
  z-index:1;
}
.sf-vertical.pl-easy-menu li.last {
  border: none;
}
.sf-vertical.pl-easy-menu a {
  color: #374853;
  text-shadow: none;
}